#currency-converter{
    border: 1px solid #e1e1e1;
    background: white;
    padding-top:2.5rem;
    padding-bottom:  2.5rem;
    font-size: 1em;
}

#currency-converter .row {
    margin-bottom: 0.5em;
}
#currency-converter .text-center{
    text-align: center;
}
#currency-converter .hidden{
    display: none;
}
#currency-converter select{
    font-size: 0.8em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#currency-converter .operation-row:hover{
    transition: 200ms;
    cursor: pointer;
    color: blue;
}